.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  z-index: 0;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 5s linear alternate;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: scale(100%);
    filter: hue-rotate(0deg);
  }
  to {
    transform: scale(200%);
    filter: hue-rotate(360deg);
  }
}



.CoolButton{
  background: linear-gradient(130deg, pink, orange, purple);
  z-index: 1;
}

.Griddy .css-1588512-MuiButtonBase-root-MuiButton-root {
  border: hotpink solid 1px;
  color: black;
}